[submodule "obsidianctl"]
	path = obsidianctl
	url = https://github.com/Obsidian-OS/obsidianctl
[submodule "mkobsidiansfs"]
	path = mkobsidiansfs
  url = https://github.com/Obsidian-OS/mkobsidiansfs
[submodule "preconf"]
  path = airootfs/usr/preconf
  url = https://github.com/Obsidiain-OS/preconf
