[Unit]
Description=Create Live User
Before=display-manager.service
ConditionPathExists=!/home/liveuser

[Service]
Type=oneshot
ExecStart=/usr/bin/useradd -m -G wheel,users -s /bin/bash liveuser
ExecStart=/usr/bin/passwd -d liveuser
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
